#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/* Layers */
#define default 0
#define fnl 1
#define fnr 2

/ { 
    //      ----------------------    ----------------------
    //      | 00  01  02  03  04 |    | 05  06  07  08  09 |
    //      | 10  11  12  13  14 |    | 15  16  17  18  19 |
    //      | 20  21  22  23  24 |    | 25  26  27  28  29 |
    //      | 30  31  32  33  34 |    | 35  36  37  38  39 |
    //      ----------------------    ----------------------

    
    combos {
        compatible = "zmk,combos";
        combo_dqt {
            timeout-ms = <50>;
            key-positions = <33 27>;
            bindings = <&kp DQT>;
        };
        combo_apos {
            timeout-ms = <50>;
            key-positions = <33 28>;
            bindings = <&kp APOS>;
        };
    };
    

    keymap {
        compatible = "zmk,keymap";

        // Layer 0
        default { 
            display-name= "default";
            bindings = <
                &kp Q       &kp W       &kp E       &kp R       &kp T               &kp Y      &kp U       &kp I       &kp O       &kp P
                &kp A       &kp S       &kp D       &kp F       &kp G               &kp H      &kp J       &kp K       &kp L       &kp SEMI
                &kp Z       &kp X       &kp C       &kp V       &kp B               &kp N      &kp M       &kp COMMA   &kp DOT     &kp FSLH
                &kp LCTRL   &kp LALT    &mo fnl     &kp LSHFT   &kp BSPC            &kp SPACE  &kp RSHIFT  &mo fnr     &kp MINUS   &kp ENTR
            >;
        };
        
        // Layer 1
        fnl {
            bindings = <
                &kp N1      &kp N2      &kp N3      &kp N4      &kp N5               &kp N6     &kp N7      &kp N8      &kp N9      &kp N0
                &trans      &trans      &trans      &trans      &trans               &kp PG_UP  &kp HOME    &kp UP      &kp END     &kp EQUAL
                &trans      &trans      &trans      &trans      &trans               &kp PG_DN  &kp LEFT    &kp DOWN    &kp RIGHT   &kp GRAVE
                &trans      &trans      &trans      &trans      &kp DEL              &trans     &trans      &trans      &trans      &trans
            >;
        };
        // Layer 2
        fnr {
            bindings = <
                &kp EXCL    &kp AT      &kp POUND   &kp DLLR    &kp PRCNT            &kp CARET   &kp AMPS    &kp STAR   &kp LPAR    &kp RPAR
                &kp TAB     &kp LBRC    &kp RBRC    &kp LT      &kp GT               &trans      &trans      &trans     &trans      &trans
                &kp CAPS    &kp LBKT    &kp RBKT    &kp BSLH    &kp PIPE             &trans      &trans      &trans     &trans      &trans
                &trans      &trans      &trans      &trans      &kp DEL              &trans      &trans      &trans     &trans      &trans
            >;
        };
    };
};
