#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>        // bluetooth

/* Layers */
#define default 0
#define mac 1
#define fnl 2
#define fnr 3


{ 
    //      ----------------------    ----------------------
    //      | 00  01  02  03  04 |    | 05  06  07  08  09 |
    //      | 10  11  12  13  14 |    | 15  16  17  18  19 |
    //      | 20  21  22  23  24 |    | 25  26  27  28  29 |
    //      | 30  31  32  33  34 |    | 35  36  37  38  39 |
    //      ----------------------    ----------------------
    

    keymap {
        compatible = "zmk,keymap";

        // Layer 0
        default { 
            bindings = <
                &kp Q       &kp W       &kp E       &kp R       &kp T               &kp Y        &kp U       &kp I       &kp O       &kp P
                &kp A       &kp S       &kp D       &kp F       &kp G               &kp H        &kp J       &kp K       &kp L       &kp SEMI
                &kp Z       &kp X       &kp C       &kp V       &kp B               &kp N        &kp M       &kp COMMA   &kp DOT     &kp FSLH
                &kp LCTRL   &kp LALT    &mo 2       &kp LSHFT   &kp BSPC            &kp SPACE    &kp RSHFT   &mo 3       &kp MINUS   &kp ENTER
            >;
        };

        // Layer mac
        mac { 
            bindings = <
                &kp Q       &kp W       &kp E       &kp R       &kp T               &kp Y        &kp U       &kp I       &kp O       &kp P
                &kp A       &kp S       &kp D       &kp F       &kp G               &kp H        &kp J       &kp K       &kp L       &kp SEMI
                &kp Z       &kp X       &kp C       &kp V       &kp B               &kp N        &kp M       &kp COMMA   &kp DOT     &kp FSLH
                &kp LCTRL   &kp LGUI    &mo 2       &kp LSHFT   &kp BSPC            &kp SPACE    &kp RSHFT   &mo 3       &kp MINUS   &kp ENTER
            >;
        };
        
        // Layer 1
        fnl {
            bindings = <
                &kp ESC     &trans      &trans      &trans     &tog 1               &kp N6       &kp N7      &kp N8      &kp N9      &kp N0
                &trans      &trans      &trans      &trans     &trans               &kp PG_UP    &kp HOME    &kp UP      &kp END     &kp APOS
                &trans      &trans      &trans      &trans     &trans               &kp PG_DN    &kp LEFT    &kp DOWN    &kp RIGHT   &kp DQT
                &trans      &trans      &trans      &trans     &kp DEL              &trans       &trans      &trans      &trans      &trans
            >;
        };

        // Layer 2
        fnr {
            bindings = <
                &kp N1      &kp N2      &kp N3      &kp N4      &kp N5               &kp BT_SEL 0  &kp BT_SEL 1  &kp BT_SEL 2  &kp BT_SEL 3 &kp BT_CLR
                &kp TAB     &kp LBRC    &kp RBRC    &kp EQUAL   &kp GRAVE            &kp C_BRI_UP  &trans        &kp C_PP      &kp C_NEXT   &kp C_VOL_UP
                &kp CAPS    &kp LBKT    &kp RBKT    &kp BSLH    &kp PIPE             &kp C_BRI_DN  &trans        &trans        &kp C_PREV   &kp C_VOL_DN
                &trans      &trans      &trans      &trans      &kp DEL              &trans        &trans        &trans        &trans       &trans
            >;
        };
    };
};
